.button {
  @include button-reset;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 19px 45px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  border-radius: 52px;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: linear-gradient(98.61deg, $color-dandelion 5.19%, $color-drover 49.97%, $color-dandelion 95.49%);
    box-shadow: inset 0 0 26px rgba(255, 255, 255, 0.54);
    border-radius: 52px;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: -3px;
    z-index: -1;
    width: 100%;
    background: $color-festival;
    border-radius: 52px;
  }

  &--lg {
    padding-top: 23px;
    padding-bottom: 28px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }
}
