.header {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 62px 0 50px;
}

.header__logo {
  @include transition(opacity);
  display: flex;
  align-items: flex-end;
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  color: $color-nero;

  img {
    width: 173px;
    height: 40px;
    margin-right: 15px;
  }

  span {
    max-width: 235px;
  }

  &:hover,
  &:focus,
  &:active {
    opacity: 0.8;
    outline: none;
  }
}
