.question {
  display: none;
  flex-direction: column;
  align-items: center;
  min-height: 388px;
  padding: 30px;
  border: 1px dashed rgba(0, 0, 0, 0.08);
  filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.06));
  border-radius: 8px;

  &--show {
    display: flex;
  }

  label {
    cursor: pointer;
  }

  &--number {
    label {
      max-width: 260px;
      margin-bottom: 38px;
      text-align: center;
      font-size: 24px;
      line-height: 29px;

      b {
        font-weight: 800;
        color: $color-kelly-green;
      }
    }

    input {
      @include field-reset;
      width: 210px;
      height: 61px;
      padding: 20px 20px 21px;
      font-size: 16px;
      line-height: 20px;
      background: $color-white-smoke-dark;
      box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.02);
      border-radius: 4px;

      &::-webkit-input-placeholder {
        color: rgba(0, 0, 0, 0.45);
      }

      &::-moz-placeholder {
        color: rgba(0, 0, 0, 0.45);
      }

      &:-ms-input-placeholder {
        ccolor: rgba(0, 0, 0, 0.45);
      }
    }
  }
}

.question__number {
  display: block;
  margin-bottom: 15px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: $color-default-black;
}
