@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}

// Сброс кастомных стилей
@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin link-reset {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

@mixin field-reset {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  border-radius: 0;
  outline: none;
  appearance: none;
}

@mixin button-reset {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  color: inherit;
}
