// Viewports
//---------------------------------

$viewport--lg: 1024px;
$viewport--md: 768px;

// Retina
//---------------------------------

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;


// Colors
//---------------------------------

// Default

$color-default-black: #000000;
$color-default-white: #ffffff;
$color-transparent: rgba(0, 0, 0, 0);

// Base
$color-nero: #242424;
$color-white-smoke-light: #f2f2f2;
$color-white-smoke: #f4f4f4;
$color-kelly-green: #50b520;
$color-festival: #e8c240;
