// Viewports
//---------------------------------

$viewport--lg: 1024px;
$viewport--md: 768px;

// Retina
//---------------------------------

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;


// Colors
//---------------------------------

// Default

$color-default-black: #000000;
$color-default-white: #ffffff;
$color-transparent: rgba(0, 0, 0, 0);

// Base
$color-nero: #242424;
$color-white-smoke-darken: #f2f2f2;
$color-white-smoke-dark: #f4f4f4;
$color-white-smoke: #f5f5f5;
$color-kelly-green: #50b520;
$color-festival: #e8c240;
$color-dandelion: #fbdb6a;
$color-dandelion2: #ffdd64;
$color-dandelion3: #ffdd65;
$color-drover: #ffeba3;
$color-drover2: #fee9a1;
$color-turbo: #ffcf23;
$color-buff: #fce287;
$color-golden-sand: #ecd06f;

